<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh Sach</title>
    <link href="/css/bootstrap.css" rel="stylesheet">

</head>
<body>
<h3><a class="btn btn-primary" th:href="@{/create}" role="button">Create Product</a></h3>

<form th:action="@{/search}" method="get">
    Tên sản phẩm:<input type="text" name="name" th:value="${name !=null ?name:''}">
    <input class="btn btn-success" type="submit" value="Search">
</form>

<br>

<form th:action="@{/searchByPrice}" method="get">
    Giá bắt đầu:<input type="number" name="price" th:value="${price !=null ?price:0}">
    <input class="btn btn-success" type="submit" value="SearchPrice">
</form>

<br>

<form th:action="@{/searchByCategory}" method="get">
    Loai:<select  name="categoryId">
        <option th:each="c:${categories}" th:text="${c.categoryName}" th:value="${c.categoryId}"></option>
    </select>
    <input class="btn btn-success" type="submit" value="SearchCategory">
</form>

<br>


<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên sản phẩm</th>
        <th scope="col">Giá bắt đầu</th>
        <th scope="col">Loại sản phẩm</th>
        <th scope="col">Tình trạng</th>
        <th scope="col">Hành động</th>
    </tr>
    </thead>


    <tbody>
    <tr th:each="p:${productList}" th:object="${p}">
        <th scope="row" th:text="*{productId}"></th>
        <td th:text="*{name}"></td>
        <td th:text="*{price}"></td>
        <td th:text="*{category.categoryName}"></td>
        <td th:text="*{status}"></td>

        <td>
            <a class="btn btn-primary" th:href="@{/update(productId=*{productId})}" role="button">Sửa</a>
            <a th:onclick="showDeleteModal([[*{productId}]], [[*{name}]])" class="btn btn-danger" type="button"
               data-toggle="modal"
               data-target="#exampleModal">Delete</a>




            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete product</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="color: red">
                            Delete: <span id="showId" style="color: blue"></span>
                            <br>
                            Are u sure about that?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <form th:action="@{/delete}">
                                <input type="hidden" name="productId" id="productId">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </td>

    </tr>
    </tbody>

</table>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


<script>
    function showDeleteModal(productId, name) {
        document.getElementById('showId').innerText = name;
        document.getElementById('productId').value = productId;
    }
</script>

</body>
</html>



