<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create blog</title>
</head>
<body>
    <h1>Create new blog</h1>
    <form th:action="@{/create}" method="post" th:object="${blog}">
        <table>
<!--            <tr>-->
<!--                <td>ID</td>-->
<!--                <td><input type="hidden" th:field="*{id}" /></td>-->
<!--            </tr>-->
            <tr>
                <td>Author</td>
                <td><input type="text" th:field="*{author}" /></td>
            </tr>
            <tr>
                <td>Title</td>
                <td><input type="text" th:field="*{title}" /></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="t" th:field="*{name}" /></td>
            </tr>
            <tr>
                <td>Content</td>
                <td>
                    <textarea  th:field="*{content}"></textarea>
                </td>
            </tr>
            <tr>
                <td><input type="reset" value="Reset"></td>
                <td><input type="submit" value="Register"></td>
            </tr>
        </table>
    </form>
</body>
</html>