<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
    }

    table {
        border-collapse: collapse;
    }
</style>
<body>
<h1>Show list</h1>
<h3><a th:href="@{/create}">Create</a></h3>

<form th:action="@{/search}" method="get">
    Title: <input type="text" name="title" th:value="${title != null ? title: ''}">
    <input type="submit" value="Search">
</form>

<table>
    <tr>
        <th>ID</th>
        <th>Author</th>
        <th>Title</th>
        <th>Category</th>
        <th>Name Blog</th>
        <th>DateRelease</th>
        <th>Content</th>
        <th>Action</th>
    </tr>
    <tr th:each="b :${bookList}" th:object="${b}">
        <td th:text="*{id}"></td>
        <td th:text="*{author}"></td>
        <td th:text="*{title}"></td>
        <td th:text="*{borrow.categoryName}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{#dates.format(dateRelease, 'yyyy-MM-dd')}"></td>
        <td>
            <textarea th:text="*{content}"></textarea>
        </td>
        <td>
            <a th:href="@{/delete(id=*{id})}">Delete</a>
            <a th:href="@{/update(id=*{id})}">Update</a>
        </td>
    </tr>
</table>

<div>
    <span>
        <a th:if="${bookList.hasPrevious()}" th:href="@{/listpaging(page = ${bookList.number - 1})}">Previous</a>
    </span>
    <span th:each="pageNo: ${#numbers.sequence(0,bookList.totalPages - 1)}">
        <a th:href="@{/listpaging(page = ${pageNo})}" th:text="${pageNo}"></a>
    </span>
    <span>
        <a th:if="${bookList.hasNext()}" th:href="@{/listpaging(page = ${bookList.number +1})}">Next</a>
    </span>
</div>
</body>
</html>