<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List user</title>
</head>
<style>
  table, th, td{
    border:1px solid black;
  }
  table{
    border-collapse:collapse;
  }
</style>
<body>
<h1>Show list user</h1>
<h3><a th:href="@{/book}">Return list book</a></h3>
<table>
  <tr>
    <th>userId</th>
    <th>userName</th>
    <th>Ten sach</th>
    <th>borrowedDate</th>
    <th>payDate</th>
    <th>status</th>
    <td>Action</td>
  </tr>
  <tr th:each="b :${borrow}" th:object="${b}">
    <td th:text="*{userId}"></td>
    <td th:text="*{userName}"></td>
    <td th:text="*{book.name}"></td>
    <td th:text="*{#dates.format(borrowedDate,'yyyy-MM-dd')}"></td>
    <td th:text="*{#dates.format(payDay,'yyyy-MM-dd')}"></td>
    <td th:if="*{status}">Đã trả</td>
    <td th:if="*{!status}">Đang mượn</td>
    <td>
      <a th:href="@{/pay(userId=*{userId})}">Pay</a>
    </td>

  </tr>
</table>


<div>
    <span>
        <a th:if="${borrow.hasPrevious()}" th:href="@{/listpaging(page = ${borrow.number - 1})}">Previous</a>
    </span>
  <span th:each="pageNo: ${#numbers.sequence(0,borrow.totalPages - 1)}">
        <a th:href="@{/listpaging(page = ${pageNo})}" th:text="${pageNo}"></a>
    </span>
  <span>
        <a th:if="${borrow.hasNext()}" th:href="@{/listpaging(page = ${borrow.number +1})}">Next</a>
    </span>
</div>

</body>
</html>
